body {
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 3.125rem; /* 50px */
  font-weight: normal;
}

a {
  color: aquamarine;
}